{% extends "layout.html" %}

{% block content %}
<div class="content-section">
    <h1 class="mb-4 border-bottom">Terms and Conditions</h1>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim nulla neque, vel feugiat ex dapibus
        a. Duis nec molestie metus. Phasellus vehicula elit nec hendrerit aliquam. Maecenas non tellus id tortor
        pulvinar viverra eget sit amet ipsum. In hac habitasse platea dictumst. Integer ultricies interdum imperdiet.
        Fusce at tincidunt lorem.

        Suspendisse volutpat massa nibh, sed mattis magna ullamcorper a. Phasellus quis gravida ante, non sagittis urna.
        Quisque et massa neque. In hac habitasse platea dictumst. In ac ex in nisi aliquam mattis. Curabitur sit amet
        felis in massa scelerisque lobortis a eu metus. Nam eleifend condimentum venenatis.

        Curabitur posuere nulla tellus, in aliquam felis pulvinar nec. Suspendisse ligula velit, iaculis in rutrum non,
        aliquet in lacus. Phasellus vitae laoreet risus. Donec ullamcorper ipsum risus, sed mattis tortor laoreet a.
        Curabitur quis nisi lectus. Nam consectetur felis et odio rutrum, et aliquet nisl rhoncus. Maecenas eu lectus id
        felis maximus tincidunt tempus at dui. Suspendisse potenti. Suspendisse metus ante, porta id sapien ac,
        pellentesque feugiat nibh. Mauris convallis vehicula nibh, nec elementum enim pretium vitae. Ut pharetra
        interdum odio, at porttitor ex pharetra ut.

        Integer nec augue pellentesque, rhoncus nibh vel, tincidunt elit. Aliquam sit amet velit interdum, imperdiet
        augue et, tincidunt eros. Ut a aliquet urna. Proin interdum nunc vel egestas fringilla. Nunc interdum diam non
        venenatis laoreet. Etiam convallis gravida efficitur. Donec eu ligula a purus sodales pellentesque. Aliquam
        cursus in orci nec facilisis.

        Etiam dolor sem, efficitur vel dolor id, pulvinar tincidunt nibh. Phasellus bibendum felis in velit auctor, eu
        ultricies diam tempor. Suspendisse pellentesque varius ipsum. Suspendisse aliquam mollis lacus sed pretium.
        Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas bibendum magna quam, a mollis massa
        tristique a. Duis mollis quam quis purus rhoncus placerat. Maecenas euismod velit nulla, sed scelerisque erat
        aliquam at.
    </div>
</div>
{% endblock content %}