{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <legend class="border-bottom mb-5">Login</legend>
        <div class="col-md-8">
            <form method="POST" action="">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Login" class="btn btn-dark">
            </form>
            <div class="mt-3">
                <p>
                    <small class="text-muted">
                        Don't have an account? 
                        <a href="{% url 'user:register' %}">Create a new one here</a>
                    </small>
                </p>
            </div>
        </div>
    </div>
{% endblock %}